@mixin scrollbar-design(
  $size: 10px,
  $color-scroll: #fe7e25,
  $color-bg: #ffffff
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-scroll;
  }
  &::-webkit-scrollbar-track {
    background: $color-bg;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-scroll;
    border-radius: 10px;
    border: 2px solid $color-bg;
  }
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: $color-scroll $color-bg;
}

@mixin scrollbar-hidden(
  $size: 1px,
  $color-scroll: transporent,
  $color-bg: transporent
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-scroll;
  }
  &::-webkit-scrollbar-track {
    background: $color-bg;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-scroll;
    border-radius: none;
    border: none;
  }
  scrollbar-gutter: stable;
  scrollbar-width: none;
  scrollbar-color: $color-scroll $color-bg;
}

@mixin img-100 {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

@mixin inner {
  margin: 0 auto;
  padding: 0 rem(20);
  max-width: calc(rem(1200) + rem(24)*2);

  @include media('min', $tablet) {
    padding: 0 rem(24);
  }
}
