/* Адаптив */
$mobile: 320px;
$tablet: 768px;
$desktop: 992px;

/* Шрифты */
$fontRegular: "ProximaNova-Regular", sans-serif;
$fontBold: "ProximaNova-Bold", sans-serif;
$fontSemibold: "ProximaNova-Semibold", sans-serif;

/* Цвета */
$colorDefault: #576170;
$colorLinks: #fe7e25;
$colorName: #3d4554;