.filter {
  padding: rem(24);
  border-radius: rem(4);
  background: #ffffff;
  display: grid;
  gap: rem(24) rem(12);
  grid-template:
    "cell-1 cell-2 cell-3" auto
    "cell-4 cell-4 cell-5" auto
    /1fr 1fr 2fr;

}