.footer {
  position: relative;
  background: url("/images/bg-main-mobile.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #ffffff;

  @include media('min', $tablet) {
    background-image: url("/images/bg-main-tablet.jpg");
  }

  @include media('min', $desktop) {
    background-image: url("/images/bg-main-desktop.jpg");
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(52,59,72,.85);
  }

  &__inner {
    @include inner;
  }

  &__top {
    position: relative;
    z-index: 2;
    padding: rem(40) rem(24) 0;
    display: grid;
    gap: rem(24);
    grid-template-columns: repeat(4, 1fr);

    @include media('min', $desktop) {
      padding: rem(40) 0;
    }
  }

  &__bottom {
    padding: rem(10) 0;
  }
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: rem(16);

  &__logo {
    width: rem(242);

    &:after {
      display: block;
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='243' height='66' viewBox='0 0 243 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.3909 35.932L21.1975 33.9712C21.0943 32.9259 20.7558 32.3775 20.4069 32.0716C20.0444 31.7538 19.3985 31.4601 18.2515 31.4601C16.7227 31.4601 15.873 31.8924 15.387 32.4124C14.883 32.9517 14.4529 33.9245 14.4529 35.634C14.4529 37.3434 14.8828 38.304 15.3814 38.8334C15.8643 39.3462 16.714 39.7755 18.2515 39.7755C19.3136 39.7755 19.9503 39.5319 20.33 39.2483C20.6844 38.9836 21.02 38.5325 21.2029 37.6711L21.3909 35.932H35.8535L35.7887 38.4432C35.2399 42.26 33.3654 45.3032 30.2278 47.3264C27.1734 49.2959 23.0962 50.1903 18.2515 50.1903C12.8359 50.1903 8.37752 49.0894 5.2367 46.5848C2.00271 44.0059 0.5 40.2118 0.5 35.634C0.5 31.0561 2.00271 27.2621 5.2367 24.6832C8.37752 22.1786 12.8359 21.0777 18.2515 21.0777C23.3421 21.0777 27.5863 22.0633 30.6615 24.191C31.0623 24.4682 31.4398 24.7627 31.794 25.0735V21.6934H79.0927C82.6788 21.6934 85.7616 22.4561 88.0011 24.1454C89.1529 25.0141 90.0227 26.0844 90.6076 27.3083C91.2708 26.3325 92.0824 25.4536 93.0485 24.6832C96.1894 22.1786 100.648 21.6934 106.063 21.6934C111.479 21.6934 115.937 22.1786 119.078 24.6832C120.653 25.9392 121.818 27.4836 122.598 29.2664V21.6934H131.437C129.949 20.4188 129.057 18.6466 129.057 16.5149V14.3374H138.456L138.501 16.4686C138.501 16.499 138.503 16.5237 138.505 16.5433C138.539 16.5594 138.592 16.5805 138.668 16.6024C138.822 16.6465 139.047 16.6865 139.359 16.7013C139.681 16.6864 139.913 16.6457 140.073 16.6005C140.153 16.5779 140.208 16.556 140.244 16.5393C140.246 16.5205 140.247 16.4971 140.248 16.4686L140.292 14.3374H149.692V16.5149C149.692 18.6468 148.799 20.4189 147.314 21.6934H220.637L222.696 25.0015L224.941 21.6934H241.319L230.58 34.9788L242.5 49.5746H225.56L222.533 44.9727L219.436 49.5746H180.682V32.0109H174.616V49.5746H161.302V32.0109H155.191V49.5746H142.421V40.2576L135.931 49.5746H122.598V42.0122C121.819 43.7987 120.656 45.349 119.085 46.6121C115.945 49.1354 111.485 50.2551 106.063 50.2551C100.641 50.2551 96.182 49.1354 93.0422 46.6121C90.4978 44.5673 89.0259 41.7698 88.5163 38.4359C88.3522 38.5797 88.1813 38.7189 88.0037 38.8533C85.763 40.5487 82.6785 41.3112 79.0927 41.3112H72.8642V49.5746H59.5827V32.0109H53.4845V49.5746H40.1711V32.0109H35.5742C35.6611 32.5422 35.718 33.0887 35.7447 33.6494L35.8535 35.932H21.3909ZM33.2962 31.577C33.1491 30.9644 32.9512 30.3829 32.7031 29.8334C32.4515 29.2761 32.1483 28.7516 31.794 28.2611C29.4506 25.0161 24.8757 23.2552 18.2515 23.2552C7.89212 23.2552 2.64847 27.5003 2.64847 35.634C2.64847 43.7677 7.89212 48.0128 18.2515 48.0128C26.39 48.0128 31.4282 45.3481 33.1475 40.3067C33.3802 39.6242 33.5521 38.8981 33.6627 38.1292H23.3033C22.7598 40.6892 21.0012 41.953 18.2515 41.953C14.3827 41.953 12.3044 39.7495 12.3044 35.634C12.3044 31.5185 14.3827 29.2826 18.2515 29.2826C21.257 29.2826 23.0475 30.838 23.3353 33.7545H33.5987C33.5699 33.1494 33.5005 32.568 33.3909 32.0109C33.3621 31.8646 33.3305 31.72 33.2962 31.577ZM42.3195 29.8334V47.3971H51.336V29.8334H59.745V23.8709H33.9425V29.8334H42.3195ZM61.7312 47.3971H70.7157V39.1338H79.0927C83.663 39.1338 86.7987 37.7871 88.3133 35.3882C89.0027 34.2962 89.3562 32.9863 89.3562 31.4861C89.3562 30.9715 89.3141 30.4793 89.2305 30.0105C88.5402 26.1397 85.0248 23.8709 79.0927 23.8709H61.7312V47.3971ZM90.4634 35.9715C90.6073 43.8869 95.8482 48.0776 106.063 48.0776C116.423 48.0776 121.666 43.7677 121.666 35.634C121.666 27.5003 116.423 23.2552 106.063 23.2552C98.2899 23.2552 93.3969 25.6455 91.4385 30.2754C91.2745 30.6633 91.131 31.0669 91.0082 31.4861C90.6432 32.7316 90.4603 34.115 90.4603 35.634C90.4603 35.7472 90.4613 35.8597 90.4634 35.9715ZM144.57 33.398V47.3971H153.043V23.8709H142.875L133.443 37.4163V23.8709H124.746V47.3971H134.818L144.57 33.398ZM135.592 30.5545L140.095 24.0878C139.866 24.0971 139.636 24.1025 139.404 24.104L139.39 24.1041L139.377 24.104C138.042 24.0954 136.766 23.9603 135.592 23.6825V30.5545ZM141.723 21.7489C141.835 21.7316 141.945 21.7131 142.054 21.6934C144.463 21.2561 146.2 20.218 147.018 18.6924C147.362 18.0501 147.543 17.3215 147.543 16.5149H142.396C142.364 18.0379 141.309 18.8157 139.358 18.8805C137.44 18.8157 136.385 18.0379 136.353 16.5149H131.205C131.205 17.3215 131.386 18.0501 131.731 18.6924C132.826 20.7335 135.572 21.9019 139.39 21.9266C140.22 21.9212 141 21.861 141.723 21.7489ZM163.451 29.8334V47.3971H172.467V29.8334H180.876V23.8709H155.074V29.8334H163.451ZM182.83 47.3971H218.301L222.554 41.0781L226.71 47.3971H237.933L227.797 34.9859L236.782 23.8709H226.071L222.618 28.9585L219.452 23.8709H208.581L217.438 34.9859L208.185 46.1054V41.3373H191.815V38.2264H204.444V32.4583H191.815V29.639H207.418V23.8709H182.83V47.3971ZM209.566 28.5731V31.8165H206.593V39.1598H210.334V40.1458L214.652 34.9559L209.566 28.5731ZM77.0415 31.1885C76.7082 31.1342 76.2551 31.1036 75.6396 31.1036H72.8642V31.8362H75.6396C76.2553 31.8362 76.7075 31.8056 77.0395 31.7512C77.1932 31.726 77.3042 31.6984 77.3817 31.6738C77.3873 31.6205 77.3919 31.5483 77.3919 31.4537C77.3919 31.375 77.3886 31.3129 77.3841 31.2652C77.3105 31.2422 77.2 31.2142 77.0415 31.1885ZM103.199 32.4124C102.695 32.9517 102.265 33.9245 102.265 35.634C102.265 37.3434 102.695 38.304 103.193 38.8334C103.676 39.3462 104.526 39.7755 106.063 39.7755C107.601 39.7755 108.451 39.3462 108.933 38.8334C109.432 38.304 109.862 37.3434 109.862 35.634C109.862 33.9245 109.432 32.9517 108.928 32.4124C108.442 31.8924 107.592 31.4601 106.063 31.4601C104.535 31.4601 103.685 31.8924 103.199 32.4124ZM79.5404 31.4537C79.5404 29.4446 78.3254 28.9261 75.6396 28.9261H70.7157V34.0137H75.6396C78.3254 34.0137 79.5404 33.4952 79.5404 31.4537ZM106.063 29.2826C102.195 29.2826 100.116 31.5185 100.116 35.634C100.116 39.7495 102.195 41.953 106.063 41.953C109.932 41.953 112.01 39.7495 112.01 35.634C112.01 31.5185 109.932 29.2826 106.063 29.2826Z' fill='white'/%3e%3cpath d='M75.6396 31.1036C76.2551 31.1036 76.7082 31.1342 77.0415 31.1885C77.2 31.2142 77.3105 31.2422 77.3841 31.2652C77.3886 31.3129 77.3919 31.375 77.3919 31.4537C77.3919 31.5483 77.3873 31.6205 77.3817 31.6738C77.3042 31.6984 77.1932 31.726 77.0395 31.7512C76.7075 31.8056 76.2553 31.8362 75.6396 31.8362H72.8642V31.1036H75.6396Z' fill='white'/%3e%3cpath d='M21.3909 35.932L21.1975 33.9712C21.0943 32.9259 20.7558 32.3775 20.4069 32.0716C20.0444 31.7538 19.3985 31.4601 18.2515 31.4601C16.7227 31.4601 15.873 31.8924 15.387 32.4124C14.883 32.9517 14.4529 33.9245 14.4529 35.634C14.4529 37.3434 14.8828 38.304 15.3814 38.8334C15.8643 39.3462 16.714 39.7755 18.2515 39.7755C19.3136 39.7755 19.9503 39.5319 20.33 39.2483C20.6844 38.9836 21.02 38.5325 21.2029 37.6711L21.3909 35.932Z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M111.89 4.18221L107.764 0L103.637 4.18221H111.89ZM91.7379 16.2422L89.7547 18.2521H125.773L123.789 16.2422H91.7379ZM120.98 13.3947L118.831 11.2172H96.6959L94.5474 13.3947H120.98ZM113.708 6.0247L116.518 8.87219H99.0097L101.819 6.0247H113.708ZM83.656 24.4332L86.4494 21.6021H129.078L131.316 23.8708H124.746V47.397H126.119L107.764 66L81.1564 39.0334C86.4872 38.4896 89.3562 35.7598 89.3562 31.4861C89.3562 27.9617 87.3784 25.4838 83.656 24.4332ZM76.1953 34.0053L75.2034 33L78.6728 29.4837C79.2606 29.8687 79.5404 30.4896 79.5404 31.4537C79.5404 33.3487 78.4935 33.9314 76.1953 34.0053ZM138.093 30.7388L133.443 26.0263V37.4162L138.093 30.7388ZM106.063 48.0775C95.704 48.0775 90.4603 43.7677 90.4603 35.6339C90.4603 27.5002 95.704 23.2551 106.063 23.2551C116.423 23.2551 121.666 27.5002 121.666 35.6339C121.666 43.7677 116.423 48.0775 106.063 48.0775ZM106.063 29.2825C102.195 29.2825 100.116 31.5185 100.116 35.6339C100.116 39.7494 102.195 41.953 106.063 41.953C109.932 41.953 112.01 39.7494 112.01 35.6339C112.01 31.5185 109.932 29.2825 106.063 29.2825Z' fill='white'/%3e%3c/svg%3e");
      @include img-100;
    }
  }

  &__text {
    font-size: rem(14);
  }

  &__link {
    position: relative;
    text-decoration: none;
    display: flex;
    gap: rem(8);
    align-items: center;
  }

  &__link-anchor {
    font-family: $fontBold;
    font-size: rem(16);
    color: #ffffff;
    transition: color .3s linear;
  }

  &__icon {
    background: #ffffff;
    width: rem(16);
    height: rem(16);
    transition: background .3s linear;
  }

  &__link:hover &__link-anchor {
    color: $colorLinks;
  }

  &__link:hover &__icon {
    background: $colorLinks;
  }
}

.footer-links {
  position: relative;
  font-size: rem(14);

  &__title {
    display: block;
    margin-bottom: rem(24);
    font-family: $fontBold;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s linear;

    &:hover {
      color: $colorLinks;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(12);
  }

  &__item {
    color: #dee3e6;
    text-decoration: none;
    transition: color .3s linear;

    &:hover, &.is-active {
      color: $colorLinks;
    }
  }

  &__all {
    display: inline-block;
    position: relative;
    margin-top: rem(24);
    font: rem(12)/1 $fontBold;
    text-decoration: underline;
    transition: color .3s linear;

    &:before {
      display: block;
      content: '→';
      position: absolute;
      top: 50%;
      left: calc(100% + rem(6));
      transform: translateY(-50%);
    }

    &:hover {
      color: $colorLinks;
    }
  }
}

.footer-menu {
  position: relative;
  display: flex;
  gap: rem(24);
  flex-direction: column;

  &__link {
    font: rem(16)/1 $fontBold;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s linear;

    &:hover, &.is-active {
      color: $colorLinks;
    }
  }
}

.footer__bottom {
  position: relative;
  z-index: 2;
  height: rem(78);
  background: url("/images/bg-footer-desktop.jpg") no-repeat {
    size: cover;
  };
}