.header {
  position: relative;
  z-index: 100;
  background: #ffffff;

  &__inner {
    @include inner;
    height: rem(53);
    display: flex;
    gap: rem(32);
    align-items: center;
    justify-content: space-between;

    @include media('min', $tablet) {
      height: rem(68);
    }
  }

  &__hamburger {
    display: block;
    width: rem(24);
    height: rem(24);

    @include media('min', $tablet) {
      display: none;
    }
  }

  &__logo {
    width: rem(138);

    &:after {
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='52' fill='none'%3E%3Cpath fill='%233D4554' fill-rule='evenodd' d='m16.575 28.31-.154-1.545c-.082-.823-.35-1.256-.627-1.497-.288-.25-.8-.481-1.71-.481-1.213 0-1.887.34-2.273.75-.4.425-.74 1.191-.74 2.538 0 1.347.34 2.104.736 2.521.383.404 1.057.742 2.277.742.843 0 1.348-.192 1.649-.415.281-.209.547-.564.692-1.243l.15-1.37h11.474l-.051 1.979c-.436 3.007-1.923 5.404-4.412 6.998-2.424 1.552-5.658 2.257-9.502 2.257-4.297 0-7.834-.867-10.326-2.84C1.192 34.67 0 31.681 0 28.074c0-3.607 1.192-6.596 3.758-8.628 2.492-1.973 6.03-2.84 10.326-2.84 4.039 0 7.406.776 9.846 2.453.318.218.617.45.898.695v-2.663h37.527c2.845 0 5.29.6 7.067 1.932a6.756 6.756 0 0 1 2.068 2.492 9.41 9.41 0 0 1 1.937-2.069c2.492-1.973 6.03-2.355 10.326-2.355s7.834.382 10.326 2.355a9.366 9.366 0 0 1 2.792 3.611v-5.966h7.013c-1.181-1.005-1.889-2.4-1.889-4.08v-1.716h7.458l.035 1.68a.73.73 0 0 0 .004.058c.027.013.069.03.129.047.122.034.301.066.548.078.256-.012.44-.044.567-.08a.916.916 0 0 0 .135-.048.43.43 0 0 0 .003-.056l.036-1.679h7.457v1.716c0 1.68-.708 3.076-1.887 4.08h58.174l1.633 2.606 1.782-2.606h12.994l-8.52 10.467 9.457 11.5h-13.44l-2.401-3.626-2.457 3.626h-30.748V25.22h-4.813v13.838h-10.562V25.22h-4.849v13.838h-10.131v-7.34l-5.15 7.34H96.871V33.1a9.433 9.433 0 0 1-2.787 3.625c-2.492 1.988-6.03 2.87-10.331 2.87-4.302 0-7.84-.882-10.331-2.87-2.019-1.611-3.187-3.816-3.59-6.442a7.81 7.81 0 0 1-.408.329c-1.777 1.335-4.225 1.936-7.07 1.936h-4.941v6.51H46.876V25.222h-4.839V39.06H31.475V25.22h-3.648c.07.418.114.849.136 1.29l.086 1.799H16.575Zm9.445-3.431a7.663 7.663 0 0 0-.47-1.374 7.08 7.08 0 0 0-.722-1.239c-1.859-2.556-5.489-3.944-10.744-3.944-8.22 0-12.38 3.345-12.38 9.753 0 6.409 4.16 9.753 12.38 9.753 6.457 0 10.454-2.1 11.818-6.071a9.43 9.43 0 0 0 .409-1.716h-8.22c-.43 2.017-1.826 3.013-4.007 3.013-3.07 0-4.718-1.736-4.718-4.979 0-3.242 1.648-5.004 4.718-5.004 2.384 0 3.805 1.226 4.033 3.523h8.143a9.372 9.372 0 0 0-.24-1.715Zm7.16-1.374v13.838h7.153V23.505h6.671v-4.698H26.533v4.698h6.646Zm15.4 13.838h7.128v-6.51h6.647c3.626 0 6.113-1.061 7.315-2.951.547-.86.828-1.893.828-3.075 0-.405-.034-.793-.1-1.162-.548-3.05-3.337-4.838-8.043-4.838H48.58v18.536Zm22.796-9.002c.114 6.236 4.272 9.538 12.377 9.538 8.219 0 12.379-3.395 12.379-9.804 0-6.408-4.16-9.753-12.38-9.753-6.167 0-10.049 1.884-11.602 5.531-.13.306-.244.624-.342.954-.29.982-.434 2.071-.434 3.268 0 .09 0 .178.002.266Zm42.927-2.027v11.03h6.723V18.806h-8.067l-7.483 10.672V18.807h-6.9v18.536h7.99l7.737-11.03Zm-7.123-2.24 3.573-5.096a14.17 14.17 0 0 1-.548.013h-.022a13.576 13.576 0 0 1-3.003-.332v5.414Zm4.865-6.939c.088-.013.176-.028.262-.043 1.912-.345 3.29-1.163 3.939-2.365.273-.506.417-1.08.417-1.715h-4.085c-.025 1.2-.862 1.812-2.41 1.864-1.522-.052-2.359-.664-2.384-1.864H103.7c0 .635.144 1.21.417 1.715.869 1.608 3.047 2.529 6.077 2.548a12.729 12.729 0 0 0 1.851-.14Zm17.238 6.37v13.838h7.154V23.505h6.671v-4.698h-20.471v4.698h6.646Zm15.376 13.838h28.142l3.374-4.979 3.298 4.98h8.903l-8.041-9.78 7.128-8.757h-8.498l-2.739 4.009-2.512-4.009h-8.625l7.027 8.758-7.341 8.76V32.57h-12.988v-2.451h10.02v-4.545h-10.02v-2.221h12.379v-4.545h-19.507v18.536Zm21.212-14.83v2.554h-2.359v5.786h2.968v.777l3.426-4.09-4.035-5.028Zm-105.144 2.06a7.218 7.218 0 0 0-1.112-.067h-2.202v.577h2.202c.488 0 .847-.024 1.11-.067.122-.02.21-.041.272-.06a1.64 1.64 0 0 0 .002-.323 2.012 2.012 0 0 0-.272-.06Zm20.753.964c-.4.425-.741 1.191-.741 2.538 0 1.347.341 2.104.737 2.521.383.404 1.057.742 2.277.742 1.22 0 1.894-.338 2.277-.742.395-.417.736-1.174.736-2.52 0-1.348-.34-2.114-.74-2.539-.386-.41-1.06-.75-2.273-.75s-1.887.34-2.273.75Zm-18.77-.755c0-1.583-.964-1.992-3.095-1.992h-3.907v4.01h3.907c2.13 0 3.095-.409 3.095-2.017Zm21.043-1.71c-3.07 0-4.719 1.76-4.719 5.003 0 3.243 1.65 4.979 4.719 4.979 3.07 0 4.718-1.736 4.718-4.979 0-3.242-1.649-5.004-4.718-5.004Z' clip-rule='evenodd'/%3E%3Cpath fill='%233D4554' d='M59.615 24.506c.488 0 .848.024 1.112.067.126.02.214.042.272.06a1.614 1.614 0 0 1-.002.322c-.062.02-.15.041-.272.061a7.179 7.179 0 0 1-1.11.067h-2.202v-.577h2.202Zm-43.04 3.804-.154-1.545c-.082-.823-.35-1.256-.627-1.497-.288-.25-.8-.481-1.71-.481-1.213 0-1.887.34-2.273.75-.4.425-.74 1.191-.74 2.538 0 1.347.34 2.104.736 2.521.383.404 1.057.742 2.277.742.843 0 1.348-.192 1.649-.415.281-.209.547-.564.692-1.243l.15-1.37Z'/%3E%3Cpath fill='%233D4554' fill-rule='evenodd' d='M88.375 3.295 85.102 0l-3.274 3.295h6.547Zm-15.988 9.502-1.574 1.583H99.39l-1.574-1.583h-25.43Zm23.2-2.244-1.705-1.715H76.32l-1.704 1.715h20.971Zm-5.77-5.806 2.23 2.243h-13.89l2.228-2.243h9.433ZM65.976 19.25l2.216-2.23h33.821l1.776 1.787h-5.213v18.536h1.09L85.1 52 63.99 30.754c4.23-.429 6.506-2.58 6.506-5.947 0-2.777-1.569-4.729-4.522-5.557Zm-5.92 7.542L59.27 26l2.752-2.77c.466.303.688.792.688 1.552 0 1.493-.83 1.952-2.654 2.01Zm49.109-2.574-3.689-3.712v8.973l3.689-5.26ZM83.752 37.88c-8.218 0-12.379-3.395-12.379-9.804 0-6.408 4.16-9.753 12.38-9.753 8.219 0 12.379 3.345 12.379 9.753 0 6.409-4.16 9.804-12.38 9.804Zm0-14.808c-3.069 0-4.718 1.762-4.718 5.004 0 3.243 1.65 4.979 4.718 4.979 3.07 0 4.719-1.736 4.719-4.979 0-3.242-1.65-5.004-4.719-5.004Z' clip-rule='evenodd'/%3E%3C/svg%3E");
      display: block;
      @include img-100;
    }

    @include media('min', $tablet) {
      width: rem(192);
      height: rem(52);
    }
  }

  &__auth {
    display: flex;

    @include media('min', $tablet) {
      flex: 1;
      justify-content: flex-end;
    }
  }

  &__post-add {
    display: none;

    @include media('min', $tablet) {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .header__button {
    font-size: 0;

    @include media('min', $desktop) {
      font-size: rem(12);
    }

    &:before {
      content: '+';
      font-family: $fontRegular;
      font-size: rem(24);
      color: #ffffff;
      opacity: .5;

      @include media('min', $desktop) {
        display: none;
      }
    }
  }

  &__drop-down {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: opacity .3s linear,max-height 0s linear .3s;
  }

  &__post-add:hover &__drop-down {
    opacity: 1;
    max-height: rem(500);
    transition: opacity .3s linear 0s, max-height 0s linear 0s;
  }
}

.auth {
  display: flex;

  @include media('min', $tablet) {
    gap: rem(8);
  }

  &__link {
    text-decoration: none;
    display: flex;
  }

  &__icon {
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
    background: #dee3e6;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('min', $tablet) {
      margin-right: rem(8);
    }
  }

  &__link-text {
    display: none;

    @include media('min', $tablet) {
      display: initial;
      color: $colorDefault;
      text-decoration: underline;
    }

    a:hover & {
      text-decoration: none;
    }
  }

  &__dot {
    display: none;

    @include media('min', $tablet) {
      display: initial;
    }
  }
}

.drop-down {
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border: 1px solid #dee3e6;
  border-top: 2px solid $colorLinks;
  background: #ffffff;

  @include media('min', $tablet) {
    left: 0;
    transform: translateX(0);
    width: rem(300);
  }

  &_right {
    @include media('min', $tablet) {
      left: auto;
      right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: rem(14) rem(16);
    color: $colorDefault;
    text-decoration: none;
    transition: color .3s linear;

    &:hover {
      color: $colorLinks;
    }

    & + & {
      border-top: 1px solid #dee3e6;
    }
  }

  &__icon {
    width: rem(24);
    height: rem(24);
    margin-right: rem(8);
  }
}
