//Подключение шрифтов
@include font-face('ProximaNova-Regular');
@include font-face('ProximaNova-Bold', 'bold');
@include font-face('ProximaNova-SemiBold', 700);

html {
  height: 100%;
  @include adaptive(font-size, 16px, $tablet 16px, $desktop 16px);
  @include scrollbar-design;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font: rem(16)/normal $fontRegular;
  color: $colorDefault;
  overflow-x: hidden;
}

.h1, .h2, .h3 {
  font-family: $fontBold;
  color: $colorName;
}

.h1, h2 {
  text-transform: uppercase;
}

.h1 {
  font-size: rem(26);
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100%;

  &__sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.page-content {
  padding: rem(56) 0 rem(80);

  &__inner {
    @include inner;

    @include media('min', $tablet) {
      display: flex;
      gap: rem(40);
    }
  }
}

.section {
  flex: 1;
}

.aside {
  display: none;

  @include media('min', $desktop) {
    display: block;
    width: rem(240);
  }

  &__inner {
    position: sticky;
    top: rem(137);
  }
}

.aside-banners {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(16);

  &__item {
    display: block;
  }

  &__img {
    @include img-100;
    border-radius: rem(4);
    object-fit: contain;
  }
}

.section-name {
  display: flex;
  gap: rem(8);
  align-items: flex-end;

  &__count {
    font: rem(16)/1 $fontBold;
    color: $colorLinks;
  }
}

.nav-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__text {
    font-size: rem(14);
    line-height: normal;
  }

  &__link {
    margin: rem(16) auto 0;
    display: flex;
    gap: rem(8);
    align-items: center;
    font-family: $fontBold;
    font-size: rem(16);
    color: $colorDefault;
  }

  &__button {
    margin-top: rem(32);
  }
}