//Подключение шрифтов
@include font-face('ProximaNova-Regular');
@include font-face('ProximaNova-Bold', 'bold');
@include font-face('ProximaNova-SemiBold', 700);

html {
  height: 100%;
  font-size: 16px;
  @include scrollbar-design;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font: rem(16)/rem(24) $fontRegular;
  color: $colorDefault;
  overflow-x: hidden;
}

.h1, .h2, .h3 {
  font-family: $fontBold;
  color: $colorName;
}

.h1, h2 {
  text-transform: uppercase;
}

.h1 {
  font-size: rem(26);
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100%;

  @include media('min', $desktop) {
    padding: 0;
  }

  &__sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.button {
  height: rem(44);
  padding: 1px rem(16) 0;
  display: flex;
  gap: rem(12);
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid $colorDefault;
  border-radius: rem(4);
  font: rem(12)/normal $fontBold;
  color: $colorDefault;
  text-transform: uppercase;
  cursor: pointer;

  &_brown {
    background: $colorDefault;
    color: #ffffff;
    border: none;
  }

  &_orange {
    background: $colorLinks;
    color: #ffffff;
    border: none;
  }
}

.header {
  position: relative;
  z-index: 100;
  background: #ffffff;

  &__inner {
    @include inner;
    height: rem(53);
    display: flex;
    gap: rem(32);
    align-items: center;
    justify-content: space-between;

    @include media('min', $tablet) {
      height: rem(63);
    }
  }

  &__hamburger {
    display: block;
    width: rem(24);
    height: rem(24);

    @include media('min', $tablet) {
      display: none;
    }
  }

  &__logo {
    @include logo;
    width: rem(138);
    height: rem(37);

    @include media('min', $tablet) {
      width: rem(192);
      height: rem(52);
    }
  }

  &__auth {
    display: flex;

    @include media('min', $tablet) {
      flex: 1;
      justify-content: flex-end;
    }
  }

  &__post-ad {
    display: none;

    @include media('min', $tablet) {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .header__button {
    font-size: 0;

    @include media('min', $desktop) {
      font-size: initial;
    }

    &:before {
      content: '+';
      font-family: $fontRegular;
      font-size: rem(24);
      color: #ffffff;
      opacity: .5;

      @include media('min', $desktop) {
        display: none;
      }
    }
  }

  &__drop-down {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: opacity .3s linear,max-height 0s linear .3s;
  }

  &__post-ad:hover &__drop-down, &__drop-down:hover {
    opacity: 1;
    max-height: rem(500);
    transition: opacity .3s linear 0s,max-height 0s linear 0s;
  }
}

.auth {
  display: flex;

  @include media('min', $tablet) {
    gap: rem(8);
  }

  &__link {
    text-decoration: none;
    display: flex;
  }

  &__icon {
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
    background: #dee3e6;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('min', $tablet) {
      margin-right: rem(8);
    }
  }

  &__link-text {
    display: none;

    @include media('min', $tablet) {
      display: initial;
      color: $colorDefault;
      text-decoration: underline;
    }

    a:hover & {
      text-decoration: none;
    }
  }

  &__dot {
    display: none;

    @include media('min', $tablet) {
      display: initial;
    }
  }
}

.drop-down {
  position: absolute;
  top: calc(100% - 1px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border: 1px solid #dee3e6;
  border-top: 2px solid $colorLinks;
  background: #ffffff;

  @include media('min', $tablet) {
    left: 0;
    transform: translateX(0);
    width: rem(300);
  }

  &_right {
    @include media('min', $tablet) {
      left: auto;
      right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: rem(14) rem(16);
    color: $colorDefault;
    text-decoration: none;
    transition: color .3s linear;

    &:hover {
      color: $colorLinks;
    }

    & + & {
      border-top: 1px solid #dee3e6;
    }
  }

  &__icon {
    width: rem(24);
    height: rem(24);
    margin-right: rem(8);
  }
}

.nav-wrapper {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  overflow-y: auto;
  transition: transform .3s linear;
  background: #ffffff;

  @include media('min', $tablet) {
    overflow: visible;
    transform: translateX(0);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: auto;
    min-height: auto;
    transition: none;
    background: none;
  }
}

.nav {
  padding: rem(64) rem(32) rem(16);
  text-align: center;

  @include media('min', $tablet) {
    height: rem(64);
    background: rgba(0,0,0,.32);
    backdrop-filter: blur(6px);
    padding: 0;
    text-align: left;
  }

  &_open {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    font-size: rem(40);
    transform: rotate(-45deg);

    @include media('min', $tablet) {
      display: none;
    }
  }

  &__inner {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;

    @include media('min', $tablet) {
      @include inner;
      height: rem(64);
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__post-ad {
    position: relative;
    z-index: 2;
    margin-top: rem(20);

    @include media('min', $tablet) {
      display: none;
    }
  }

  &__button {
    width: 100%;
    position: relative;
    display: flex;
  }

  &__post-ad:hover &__drop-down, &__drop-down:hover {
    opacity: 1;
    max-height: rem(500);
    transition: opacity .3s linear 0s,max-height 0s linear 0s;
  }

  &__contacts {
    margin-top: rem(30);
    padding-top: rem(30);
    border-top: 1px solid #dee3e6;

    @include media('min', $tablet) {
      display: none;
    }
  }

  &__button + &__drop-down {
    margin-top: rem(10);
  }

  &__item {
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(10) 0;
    font-family: $fontBold;
    font-size: rem(20);
    color: $colorDefault;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s linear;

    @include media('min', $tablet) {
      height: 100%;
      padding: rem(8) rem(24);
      font-size: rem(16);
      color: #ffffff;
    }
  }

  &__item:hover &__link {
    background: #ffffff;
    color: $colorDefault;
  }

  &__link.is-active {
    color: $colorLinks;

    @include media('min', $tablet) {
      background: #ffffff;
      color: $colorDefault;
    }
  }

  &__drop-down {
    opacity: 0;
    overflow: hidden;
    text-align: left;
    line-height: 1.2;
    max-height: 0;
    transition: opacity .3s linear, max-height 0s linear .3s;
    box-shadow: 0 rem(4) rem(24) rgba(0,0,0,.12);

    @include media('min', $tablet) {
      line-height: normal;
      box-shadow: none;
    }

  }

  &__link:hover + &__drop-down, &__drop-down:hover {
    opacity: 1;
    max-height: rem(300);
    transition: opacity .3s linear 0s,max-height 0s linear 0s;
  }
}

.form-search {
  position: relative;
  z-index: 5;
  background: url("/images/bg-form-search.jpg") 50% 50% no-repeat;
  background-size: cover;
  margin: rem(-64) 0 0;
  padding: rem(160) 0 rem(32);

  @include media('min', $tablet) {
    padding: rem(248) 0 rem(48);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0,0,0,.4);
  }

  &__inner {
    @include inner;
    position: relative;
    z-index: 1;
  }

  &__block {
    padding: rem(24);
    height: rem(521);
    background: #ffffff;
  }
}

.page-content {
  padding: rem(56) 0 rem(80);

  &__inner {
    @include inner;

    @include media('min', $tablet) {
      display: flex;
      gap: rem(40);
    }
  }
}

.section {
  flex: 1;
}

.aside {
  display: none;

  @include media('min', $desktop) {
    display: block;
    width: rem(240);
  }

  &__inner {
    position: sticky;
    top: rem(137);
  }
}

.aside-banners {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(16);

  &__item {
    display: block;
  }

  &__img {
    @include img-100;
    border-radius: rem(4);
    object-fit: contain;
  }
}

.section-name {
  display: flex;
  gap: rem(8);
  align-items: flex-end;

  &__count {
    font: rem(16)/1 $fontBold;
    color: $colorLinks;
  }
}

.nav-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__text {
    font-size: rem(14);
    line-height: normal;
  }

  &__link {
    margin: rem(16) auto 0;
    display: flex;
    gap: rem(8);
    align-items: center;
    font-family: $fontBold;
    font-size: rem(16);
    color: $colorDefault;
  }

  &__button {
    margin-top: rem(32);
  }
}